.ion-icon {
    display: inline-block;
    font-family: "Ionicons", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-rendering: auto;
    text-transform: none;
  }

  .icon-inner,
  .ionicon,
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  :host {
    display: inline-block;
    width: 1em;
    height: 1em;
    box-sizing: content-box !important;
    contain: strict;
    fill: currentColor;
  }

  :host .ionicon {
    stroke: currentColor;
  }

  .ionicon-fill-none {
    fill: none;
  }

  .ionicon-stroke-width {
    stroke-width: 32px;
    stroke-width: var(--ionicon-stroke-width, 32px);
  }

  :host(.flip-rtl) .icon-inner {
    transform: scaleX(-1);
  }

  :host(.icon-small) {
    font-size: 18px !important;
  }

  :host(.icon-large) {
    font-size: 32px !important;
  }

  :host(.ion-color-primary) {
    --ion-color-base: var(--ion-color-primary, #0fa);
  }

  :host(.ion-color-secondary) {
    --ion-color-base: var(--ion-color-secondary, #fa0);
  }

  :host(.ion-color-tertiary) {
    --ion-color-base: var(--ion-color-tertiary, #f4a942);
  }

  :host(.ion-color-success) {
    --ion-color-base: var(--ion-color-success, #10dc60);
  }

  :host(.ion-color-warning) {
    --ion-color-base: var(--ion-color-warning, #ffce00);
  }

  :host(.ion-color-danger) {
    --ion-color-base: var(--ion-color-danger, #f14141);
  }

  :host(.ion-color-light) {
    --ion-color-base: var(--ion-color-light, #f4f5f8);
  }

  :host(.ion-color-medium) {
    --ion-color-base: var(--ion-color-medium, #989aa2);
  }

  :host(.ion-color-dark) {
    --ion-color-base: var(--ion-color-dark, #222428);
  }
